
<%- @title = "OpenID認証情報の追加" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << ["ログイン設定", url_for(:controller => "/credentials")] -%>
<%- @topic_path << [@title] -%>

<h1><%=h @title %></h1>

<%- form_for(:login_form, @login_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th><%= f.label(:openid_url) %></th>
      <td>
        <%= f.text_field(:openid_url, :size => 30) %>
        <%= error_message_on(:login_form, :openid_url) %>
      </td>
    </tr>
  </table>
  <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:login_form) %>
  </div>
<%- end -%>
