
<table border="1">
  <thead>
    <tr>
      <th>日時</th>
      <th colspan="2">エネルギー</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3" align="right">
        <span><%= link_to(feed_icon + h(" RSS"), :controller => "device_feeds", :action => "energies", :device_token => @device.device_token) %></span> |
        <span><%= link_to(h("すべて見る"), :action => "energies") %> (<%=h @energies.total_entries %>)</span>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%- @energies.each { |energy| -%>
      <tr>
        <td><%=h mmdd_hhmm(energy.observed_at) %></td>
        <td><%= energy_meter(energy.observed_level) %></td>
        <td align="right"><%=h energy.observed_level %> %</td>
      </tr>
    <%- } -%>
  </tbody>
</table>
