
<%-
  @rss_auto_discoveries = [
    {:title => "イベント履歴", :href => url_for(:controller => "device_feeds", :action => "events_rss", :device_token => @device.device_token)},
  ]
-%>

<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= device_name_link(@device) %> &gt;
  <em>イベント履歴</em>
</div>

<h1>イベント履歴</h1>

<div>
  <%- @events.each_slice(20) { |events| -%>
    <div style="float: left; margin-right: 10px;">
      <table class="list events">
        <thead>
          <tr>
            <th>観測日時</th>
            <th colspan="2">エネルギー</th>
            <th colspan="2">トリガ</th>
          </tr>
        </thead>
        <tbody>
          <%- events.each_with_index { |event, index| -%>
            <tr class="<%= even_or_odd(index) %>">
              <td><%=h yyyymmdd_hhmm(event.observed_at) %></td>
              <td><%= energy_meter(event.observed_level) %></td>
              <td align="right"><%=h event.observed_level %> %</td>
              <td align="center"><%=h event.trigger_operator_sign %></td>
              <td align="right"><%=h event.trigger_level %> %</td>
            </tr>
          <%- } -%>
        </tbody>
      </table>
    </div>
  <%- } -%>
  <div style="clear: left;"></div>
</div>

<div><%= will_paginate(@events) %></div>
