
<%-
@additional_head_html = <<END_OF_HTML
  <style type="text/css">
    ul.device-icons
    {
      margin: 0;
      padding: 0;
    }
    ul.device-icons li
    {
      margin: 0;
      padding: 0;
      display: block;
      width: 60px;
      float: left;
    }
    ul.device-icons li div.radio-button
    {
      width: 100%;
      text-align: center;
    }
    ul.device-icons li div.icon
    {
      width: 100%;
      text-align: center;
    }
    ul.device-icons li img
    {
    }
  </style>
END_OF_HTML
-%>
<h1>デバイスの追加</h1>

<%- form_for(@edit_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th><%= f.label(:name) %></th>
      <td>
        <%= f.text_field(:name, :size => 30) %>
        <%= error_message_on(:edit_form, :name) %>
      </td>
    </tr>
    <tr>
      <th>アイコン</th>
      <td>
        <%= error_message_on(:edit_form, :device_icon_id) %>
        <%# FIXME: コントローラ内で検索する %>
        <%- @device_icons = DeviceIcon.all -%>
        <ul class="device-icons">
          <%- @device_icons.each { |device_icon| -%>
            <li>
              <div class="radio-button">
                <%= f.radio_button(:device_icon_id, device_icon.id.to_s) %>
              </div>
              <div class="icon">
                <label for="edit_form_device_icon_id_<%=h device_icon.id %>">
                <%= device_icon48(device_icon) %>
              </label>
              </div>
            </li>
          <%- } -%>
        </ul>
        <div style="clear: both;"></div>
      </td>
    </tr>
  </table>
 <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:edit_form) %>
  </div>
<%- end -%>
