
<%-
  @title = @device.name
  @rss_auto_discoveries = [
    {:title => "エネルギー履歴", :href => url_for(:controller => "device_feeds", :action => "energies", :device_token => @device.device_token)},
    {:title => "イベント履歴", :href => url_for(:controller => "device_feeds", :action => "events", :device_token => @device.device_token)},
  ]
-%>

<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em><%=h @device.name %></em>
</div>

<h1>
  <%= device_icon48(@device.device_icon, :name => @device.name) %>
  <%=h @device.name %>
</h1>

<div><%= link_to(edit_icon + h("このデバイスを編集する"), :action => "edit") %></div>
<div><%= link_to(delete_icon + h("このデバイスを削除する"), :action => "delete") %></div>

<div>
  <table border="1">
    <tr>
      <td>
        <h2>エネルギー履歴</h2>
        <%= render(:partial => "energies") %>
      </td>
      <td>
        <h2>イベント履歴</h2>
        <%= render(:partial => "events") %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>トリガ</h2>
        <%= render(:partial => "triggers") %>
      </td>
    </tr>
  </table>
</div>

<h2>API</h2>

<div>このデバイスのトークンは <%=h @device.device_token %> です。</div>

<div><%=h url_for(:only_path => false, :controller => "device_api", :action => "update_energy", :device_token => @device.device_token, :level => "000") %></div>
<div><%=h url_for(:only_path => false, :controller => "device_api", :action => "update_energy", :device_token => @device.device_token, :level => "000", :time => "00000000000000") %></div>
