
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ログイン設定"), :controller => "/credentials") %> &gt;
  <em>パスワードの変更</em>
</div>

<h1>パスワードの変更</h1>

<%- form_for(:edit_form, :url => {:action => "update_password"}) { |f| -%>
 <div>
  <%= f.label(:password) %>
  <%= f.password_field(:password, :size => 20) %>
  <%= error_message_on(:edit_form, :password) %>
 </div>
 <div>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation, :size => 20) %>
 </div>
 <div><%= submit_tag("変更") %></div>
<%- } -%>

<%= error_messages_for(:edit_form) %>
