
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ログイン設定"), :controller => "/credentials") %> &gt;
  <em>パスワードの変更</em>
</div>

<h1>パスワードの変更</h1>

<%- form_for(@edit_form, :url => {:action => "update_password"}) { |f| -%>
  <table border="1">
    <tr>
      <th>メールアドレス</th>
      <td><%=h @email_credential.email %></td>
    </tr>
    <tr>
      <th><%= f.label(:password) %></th>
      <td>
        <div><%= f.password_field(:password, :size => 20) %></div>
        <div><%= f.password_field(:password_confirmation, :size => 20) %></div>
        <%= error_message_on(:edit_form, :password) %>
      </td>
    </tr>
  </table>
 <div><%= submit_tag("変更") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:edit_form) %>
  </div>
<%- end -%>
