
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ログイン設定"), :controller => "/credentials") %> &gt;
  <em>メール認証情報の追加</em>
</div>

<h1>メール認証情報の追加</h1>

<%- form_for(:edit_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th><%= f.label(:email) %></th>
      <td>
        <%= f.text_field(:email, :size => 30) %>
        <%= error_message_on(:edit_form, :email) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:password) %></th>
      <td>
        <%= f.password_field(:password, :size => 20) %>
        <%= error_message_on(:edit_form, :password) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:password_confirmation) %></th>
      <td>
        <%= f.password_field(:password_confirmation, :size => 20) %>
      </td>
    </tr>
  </table>
 <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- if development? -%>
  <hr />
  <%= error_messages_for(:edit_form) %>
<%- end -%>
