
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h(@device.name), :controller => "devices", :action => "show") %> &gt;
  <em>メールアクションの追加</em>
</div>

<h1>メールアクションの追加</h1>

<%- form_for(:edit_form, :url => {:action => "create"}) { |f| -%>
 <div>
  <%= f.label(:enable) %>
  <%= f.check_box(:enable) %>
  <%= error_message_on(:edit_form, :enable) %>
 </div>
 <div>
  <%= f.label(:email) %>
  <%= f.text_field(:email, :size => 30) %>
  <%= error_message_on(:edit_form, :email) %>
 </div>
 <div>
  <%= f.label(:subject) %>
  <%= f.text_field(:subject, :size => 40) %>
  <%= error_message_on(:edit_form, :subject) %>
 </div>
 <div>
  <%= f.label(:body) %>
  <%= f.text_area(:body, :cols => 40, :rows => 10) %>
  <%= error_message_on(:edit_form, :body) %>
 </div>
 <div><%= submit_tag("追加") %></div>
<%- } -%>

<%= error_messages_for(:edit_form) %>
