
<%-
  @rss_auto_discoveries = [
    {:title => "エネルギー履歴", :href => url_for(:controller => "user_feeds", :action => "energies_rss", :user_token => @login_user.user_token)},
  ]
-%>

<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>エネルギー履歴</em>
</div>

<div>
  <%- @energies.each_slice(20) { |energies| -%>
    <div style="float: left; margin-right: 10px;">
      <table class="list energies">
        <thead>
          <tr>
            <th>観測日時</th>
            <th colspan="2">デバイス</th>
            <th>エネ</th>
          </tr>
        </thead>
        <tbody>
          <%- energies.each_with_index { |energy, index| -%>
            <tr class="<%=h even_or_odd(index) %>">
              <td><%=h yyyymmdd_hhmm(energy.observed_at) %></td>
              <td><%= device_icon24_link(energy.device) %></td>
              <td><%= device_name_link(energy.device) %></td>
              <td align="right"><%=h energy.observed_level %> %</td>
            </tr>
          <%- } -%>
        </tbody>
      </table>
    </div>
  <%- } -%>
  <div style="clear: left;"></div>
</div>

<div><%= will_paginate(@energies) %></div>
