
<%- @title = "トリガの追加" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << [@device.name, device_path(:device_id => @device.id)] -%>
<%- @topic_path << [@title] -%>

<h1><%=h @title %></h1>

<%- form_for(:edit_form, @edit_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th>有効/無効</th>
      <td>
        <%= f.check_box(:enable) %>
        <%= f.label(:enable) %>
        <%= error_message_on(:edit_form, :enable) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:operator) %></th>
      <td>
        <%= f.select(:operator, @operators_for_select) %>
        <%= error_message_on(:edit_form, :operator) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:level) %></th>
      <td>
        <%= f.text_field(:level, :size => 4) %>
        <%= error_message_on(:edit_form, :level) %>
      </td>
    </tr>
  </table>
  <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:edit_form) %>
    <%= error_messages_for(:trigger) %>
  </div>
<%- end -%>
