
<h1>トリガの詳細</h1>

<table border="1">
  <tr>
    <th>条件</th>
    <td>
      <%=h @trigger.operator_sign %>
      <%=h @trigger.level %>
    </td>
  </tr>
  <tr>
    <th>有効/無効</th>
    <td><%=h (@trigger.enable? ? "有効" : "無効") %></td>
  </tr>
</table>

<h2>メールアクション</h2>

<table border="1">
  <tr>
    <th>メールアドレス</th>
    <th>タイトル</th>
  </tr>
  <%- @email_actions.each { |email_action| -%>
    <tr>
      <td><%=h email_action.email %></td>
      <td><%=h email_action.subject %></td>
    </tr>
  <%- } -%>
</table>

<div><%= link_to(h("メールアクションを追加する"), :controller => "email_actions", :action => "new") %></div>
