
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>ユーザ設定</em>
</div>

<h1>ユーザ設定</h1>

<table border="1">
  <tr>
    <th>ニックネーム</th>
    <td>
      <div>
        <span id="nickname"><%= user_nickname(@login_user) %></span>
        <span id="nickname-edit">[ 編集 ]</span>
      </div>
      <div id="nickname-error" style="color: red; font-size: 90%;"></div>
    </td>
  </tr>
  <tr>
    <th>登録日</th>
    <td><%= yyyymmdd(@login_user.created_at) %></td>
  </tr>
</table>

<h2>通知先メールアドレス</h2>

<table border="1">
  <thead>
    <tr>
      <th>登録日</th>
      <th>メールアドレス</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">メールアドレスを追加する</td>
    </tr>
  </tfoot>
  <tbody>
    <%- @email_addresses.each { |email_address| -%>
      <tr>
        <td><%=h yyyymmdd(email_address.created_at) %></td>
        <td><%=h email_address.email %></td>
        <td>
          <%- if email_address.activated? -%>
            アクティベーション済み
          <%- else -%>
            アクティベーション待ち
          <%- end -%>
        </td>
        <td>削除</td>
      </tr>
    <%- } -%>
  </tbody>
</table>

<script type="text/javascript">
  //<![CDATA[
  var authenticity_token = "<%= form_authenticity_token %>";
  var get_url = "<%= url_for(:action => "get_nickname") %>";
  var set_url = "<%= url_for(:action => "set_nickname") %>";
  new Ajax.InPlaceEditor(
    "nickname",
    set_url,
    {
      callback: function(form) { return Form.serialize(form) + "&authenticity_token=" + encodeURIComponent(authenticity_token) },
      onEnterEditMode: function() {
        $("nickname-error").innerHTML = "";
      },
      onFailure: function(ipe, transport) {
        if ( transport.request.url.indexOf(get_url) == 0 )
        {
          alert("エラーが発生しました。編集モードに入ることができません。");
        }
        else if ( transport.request.url.indexOf(set_url) == 0 )
        {
          $("nickname-error").innerHTML = transport.responseText;
        }
      },
      loadTextURL: get_url,
      externalControl: "nickname-edit",
      externalControlOnly: true,
      okControl: "link",
      cancelControl: "link",
      okText: "保存",
      cancelText: "キャンセル",
      loadingText: "読込中...",
      savingText: "保存中...",
      clickToEditText: "",
      textBeforeControls: "[ ",
      textBetweenControls: " | ",
      textAfterControls: " ]",
      size:30
    });
  //]]>
</script>
