
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <%= link_to(h("ユーザ設定"), :controller => "settings") %> &gt;
  <em>通知先メールアドレスの追加</em>
</div>

<h1>通知先メールアドレスの追加</h1>

<%- form_for(:edit_form, @edit_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th><%= f.label(:email) %></th>
      <td>
        <%= f.text_field(:email, :size => 30) %>
        <%= error_message_on(:edit_form, :email) %>
        <%= error_message_on(:email_address, :email) %>
      </td>
    </tr>
  </table>
  <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:edit_form) %>
    <%= error_messages_for(:email_address) %>
  </div>
<%- end -%>
