
<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>ログイン設定</em>
</div>

<h2>OpenID</h2>

<table border="1">
  <tr>
    <th>登録日時</th>
    <th>最終ログイン日時</th>
    <th>OpenID</th>
  </tr>
  <%- @open_id_credentials.each { |open_id_credential| -%>
    <tr>
      <td><%= open_id_credential.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= open_id_credential.loggedin_at.try(:strftime, "%Y-%m-%d %H:%M") || "-" %></td>
      <td><%= open_id_credential.identity_url %></td>
      <td>削除</td>
    </tr>
  <%- } -%>
</table>

<h2>メールアドレス</h2>

<table border="1">
  <tr>
    <th>登録日時</th>
    <th>最終ログイン日時</th>
    <th>メールアドレス</th>
    <th>状態</th>
  </tr>
  <%- @email_credentials.each { |email_credential| -%>
    <tr>
      <td><%= email_credential.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= email_credential.loggedin_at.try(:strftime, "%Y-%m-%d %H:%M") || "-" %></td>
      <td><%= email_credential.email %></td>
      <td>
        <%- if email_credential.activated? -%>
          アクティベーション済み
        <%- else -%>
          アクティベーション待ち
        <%- end -%>
      </td>
      <td><%= link_to(h("パスワード変更"), :controller => "credentials/email", :action => "edit_password", :email_credential_id => email_credential.id) %></td>
      <td><%= link_to(delete_icon, :controller => "credentials/email", :action => "delete", :email_credential_id => email_credential.id) %></td>
    </tr>
  <%- } -%>
</table>
