
<%- @title = "ログイン設定" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << [@title] -%>

<h2>OpenID認証</h2>

<table class="list">
  <thead>
    <tr>
      <th>登録日</th>
      <th>最終ログイン日時</th>
      <th>OpenID</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">
        <%- can_add_open_id_credential = (@open_id_credentials.size < OpenIdCredential::MaximumRecordsPerUser) -%>
        <%= link_to_if(can_add_open_id_credential, add_icon + h(" OpenID認証を追加する"), :controller => "credentials/open_id", :action => "new") %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%- if @open_id_credentials.empty? -%>
      <tr>
        <td colspan="4" style="padding: 1em;">
          OpenID認証は、登録されていません。
        </td>
      </tr>
    <%- else -%>
      <%- @open_id_credentials.each_with_index { |open_id_credential, index| -%>
        <tr class="<%= even_or_odd(index) %>">
          <td><%=h yyyymmdd(open_id_credential.created_at) %></td>
          <td><%=h yyyymmdd_hhmm(open_id_credential.loggedin_at) %></td>
          <td style="font-family: monospace;"><%=h open_id_credential.identity_url %></td>
          <td><%= link_to(delete_icon + h(" 削除"), :controller => "credentials/open_id", :action => "delete", :open_id_credential_id => open_id_credential.id) %></td>
        </tr>
      <%- } -%>
    <%- end -%>
  </tbody>
</table>

<h2>メールアドレス認証</h2>

<table class="list">
  <thead>
    <tr>
      <th>登録日</th>
      <th>最終ログイン日時</th>
      <th>メールアドレス</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="6">
        <%- can_add_email_credential = (@email_credentials.size < EmailCredential::MaximumRecordsPerUser) -%>
        <%= link_to_if(can_add_email_credential, add_icon + h(" メールアドレス認証を追加する"), :controller => "credentials/email", :action => "new") %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%- if @email_credentials.empty? -%>
      <tr>
        <td colspan="5" style="padding: 1em;">
          メールアドレス認証は、登録されていません。
        </td>
      </tr>
    <%- else -%>
      <%- @email_credentials.each_with_index { |email_credential, index| -%>
        <tr class="<%= even_or_odd(index) %>">
          <td><%=h yyyymmdd(email_credential.created_at) %></td>
          <td><%=h yyyymmdd_hhmm(email_credential.loggedin_at) %></td>
          <td>
            <div style="font-family: monospace;"><%= email_credential.email %></div>
            <%- unless email_credential.activated? -%>
              <div>アクティベーション待ち</div>
            <%- end -%>
          </td>
          <td><%= link_to(icon16("icons/fam/key.png", "パスワード変更") + h(" パスワード変更"), :controller => "credentials/email", :action => "edit_password", :email_credential_id => email_credential.id) %></td>
          <td><%= link_to(delete_icon + h(" 削除"), :controller => "credentials/email", :action => "delete", :email_credential_id => email_credential.id) %></td>
        </tr>
      <%- } -%>
    <%- end -%>
  </tbody>
</table>
