
<h1>サインアップ</h1>

<%- form_for(:credential, :url => {:action => "confirm"}) { |f| -%>
 <div>
  <%= f.text_field(:email, :size => 30) %>
 </div>
 <div>
  <%= f.password_field(:password, :size => 10) %>
 </div>
 <div>
  <%= f.password_field(:password_confirmation, :size => 10) %>
 </div>
 <div><%= submit_tag("次へ") %></div>
<%- } -%>

<%= error_messages_for(:credential) %>
