
<%- @title = "メール認証情報の追加" -%>
<%- @topic_path << ["トップ", root_path] -%>
<%- @topic_path << ["ログイン設定", url_for(:controller => "/credentials")] -%>
<%- @topic_path << [@title] -%>

<h1><%=h @title %></h1>

<%- form_for(:edit_form, @edit_form, :url => {:action => "create"}) { |f| -%>
  <table border="1">
    <tr>
      <th><%= f.label(:email) %></th>
      <td>
        <%= f.text_field(:email, :size => 30) %>
        <%= error_message_on(:edit_form, :email) %>
        <%= error_message_on(:email_credential, :email) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:password) %></th>
      <td>
        <div><%= f.password_field(:password, :size => 20) %></div>
        <div><%= f.password_field(:password_confirmation, :size => 20) %></div>
        <%= error_message_on(:edit_form, :password) %>
      </td>
    </tr>
  </table>
 <div><%= submit_tag("追加") %></div>
<%- } -%>

<%- unless production? -%>
  <div class="debug">
    <%= error_messages_for(:edit_form) %>
    <%= error_messages_for(:email_credential) %>
  </div>
<%- end -%>
