
<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>デバイス</th>
      <th colspan="2">残量</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8">
        [ <%= link_to(add_icon + h(" デバイスを追加する"), :controller => "devices", :action => "new") %> ]
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%- @devices.each { |device| -%>
      <%- current_energy = device.current_energy -%>
      <tr>
        <td><%= device_icon48_link(device) %></td>
        <td><%= device_name_link(device) %></td>
        <td><%= energy_meter(current_energy.try(:observed_level) || 0) %></td>
        <td align="right"><%=h current_energy.try(:observed_level) || "-" %> %</td>
        <td><%=h yyyymmdd_hhmm(current_energy.try(:observed_at)) %></td>
        <td>
          <%= icon16("icons/fam/lightning.png", "トリガ") %>
          <%=h device.triggers.enable.count %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <%- } -%>
  </tbody>
</table>
