
<table class="list energies">
  <thead>
    <tr>
      <th>更新日時</th>
      <th colspan="2">デバイス</th>
      <th>エネ</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to(feed_icon + h(" RSS"), :controller => "user_feeds", :action => "energies", :user_token => @login_user.user_token) %>
        | <%= link_to(h("すべて見る"), :controller => "energies") %>
        (<%=h @energies.total_entries %>)
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%- @energies.each_with_index { |energy, index| -%>
      <tr class="<%= even_or_odd(index) %>">
        <td><%=h mmdd_hhmm(energy.observed_at) %></td>
        <td><%= device_icon24_link(energy.device) %></td>
        <td><%= device_name_link(energy.device) %></td>
        <td align="right"><%=h energy.observed_level %> %</td>
      </tr>
    <%- } -%>
  </tbody>
</table>
