
<%- @stylesheets = %w[home] -%>

<%- if logged_in? && production? -%>
  <%- additional_head { -%>
    <meta http-equiv="refresh" content="<%=h 5.minutes %>" />
  <%- } -%>
<%- end -%>

<%-
  if logged_in?
    @rss_auto_discoveries = [
      {:title => "エネルギー履歴", :href => url_for(:controller => "user_feeds", :action => "energies_rdf", :user_token => @login_user.user_token)},
      {:title => "イベント履歴", :href => url_for(:controller => "user_feeds", :action => "events_rdf", :user_token => @login_user.user_token)},
    ]
  end
-%>

<%- side_column { -%>
  <%- unless logged_in? -%>
    <div>
      <h1><span>ログイン</span></h1>
      <div id="openid-sites">
        <div><%= link_to(icon16("favicons/mixi.png") + h(" mixiアカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "mixi.jp"}, :method => :post) %></div>
        <div><%= link_to(icon16("favicons/yahoo.png") + h(" Yahoo!アカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "yahoo.co.jp"}, :method => :post) %></div>
        <div><%= link_to(icon16("favicons/livedoor.png") + h(" livedoorアカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "livedoor.com"}, :method => :post) %></div>
      </div>
      <hr />
      <%- form_tag(:controller => "auth/open_id", :action => "login") { -%>
        <div><%= text_field_tag(:openid_url, "", :class => "openid") %></div>
        <div style="text-align: right;"><%= submit_tag("OpenIDでログイン") %></div>
      <%- } -%>
      <hr />
      <%- form_tag(:controller => "auth/email", :action => "login") { -%>
        <div><%= text_field(:login_form, :email, :class => "email") %></div>
        <div><%= password_field(:login_form, :password, :class => "password") %></div>
        <div style="text-align: right;"><%= submit_tag("メールアドレスでログイン") %></div>
      <%- } -%>
    </div>
  <%- end -%>
  <%- unless production? -%>
    <div class="debug">
      <div><%= link_to(h("管理"), :controller => "admin/home") %></div>
    </div>
  <%- end -%>
<%- } -%>

<%- unless logged_in? -%>
  <div id="login_form">
    <div><%= link_to(h("OpenIDによるサインアップ"), :controller => "signup/open_id") %></div>
    <div><%= link_to(h("メールアドレスによるサインアップ"), :controller => "signup/email") %></div>
  </div>
<%- end -%>

<%- if logged_in? -%>
  <h1><span>ダッシュボード</span></h1>
  <div><%= render(:partial => "devices")  %></div>
  <div>
    <div style="float: left; margin-right: 10px;">
      <h2><span>エネルギー履歴</span></h2>
      <%= render(:partial => "energies") %>
    </div>
    <div style="float: left;">
      <h2><span>イベント履歴</span></h2>
      <%= render(:partial => "events") %>
    </div>
    <div style="clear: left;"></div>
  </div>
<%- end -%>

<script type="text/javascript">
  Event.observe(window, "load", function() {
    ["openid", "email", "password"].each(function(class_name) {
      $$("form input." + class_name).each(function(elem) {
        elem.className = class_name + ($F(elem) == "" ? "-with-desc" : "");
        Event.observe(elem, "focus", function() {
          elem.className = class_name;
        }, false);
        Event.observe(elem, "blur", function() {
          elem.className = class_name + ($F(elem) == "" ? "-with-desc" : "");
        }, false);
      });
    });
  }, false);
</script>
