
<%-
  if logged_in?
    @additional_head_html = <<-END_OF_HTML
      <meta http-equiv="refresh" content="#{5.minutes}" />
    END_OF_HTML
  end
-%>

<h1>batty</h1>

<div>UserID: <%=h @login_user.try(:id) %></div>

<%- unless logged_in? -%>
 <div id="login_form">
  <div id="open_id_login_form">
   <%- form_tag(:controller => "open_id_auth", :action => "login") { -%>
    <%= text_field_tag("openid_url") %>
    <%= submit_tag("ログイン") %>
   <%- } -%>
  </div>
  <div>
   <%= link_to(h("メールアドレスによるログイン"), :controller => "email_auth") %>
  </div>
  <div>
   <%= link_to(h("メールアドレスによるサインアップ"), :controller => "email_signup") %>
  </div>
 </div>
<%- end -%>

<%- if logged_in? -%>
 <div>
  <%= link_to(h("ログアウト"), {:controller => "auth", :action => "logout"}, :method => :post) %>
 </div>
<%- end -%>

<%- if logged_in? -%>
 <h2>Dashboard</h2>
 <div>
  <table border="1">
   <thead>
    <tr>
     <th></th>
     <th>デバイス</th>
     <th>バッテリー残量</th>
     <th>更新日時</th>
     <th>トリガー</th>
     <th>アクション</th>
    </tr>
   </thead>
   <tbody>
    <%- @devices.each { |device| -%>
     <%- current_energy = device.current_energy -%>
     <tr>
      <td><%= device_icon48(device.device_icon, :name => device.name) %></td>
      <td><%= link_to(h(device.name), :controller => "devices", :action => "show", :device_token => device.device_token) %></td>
      <td align="right"><%=h current_energy.try(:observed_level) || "-" %> %</td>
      <td><%=h current_energy.try(:observed_at).try(:strftime, "%m-%d %H:%M") || "-" %></td>
      <td align="right"><%=h device.triggers.enable.count %></td>
      <td>アクション</td>
     </tr>
    <%- } -%>
   </tbody>
  </table>

  <table border="1">
   <tr>
    <td valign="top">
     <table border="1">
      <tr>
       <th>日時</th>
       <th>デバイス</th>
       <th>残量</th>
      </tr>
      <%- @energies.each { |energy| -%>
       <tr>
        <td><%=h energy.observed_at.strftime("%m-%d %H:%M") %></td>
        <td>
         <%= device_icon24(energy.device.device_icon, :name => energy.device.name) %>
         <%= link_to(h(energy.device.name), :controller => "devices", :action => "show", :device_token => energy.device.device_token) %>
        </td>
        <td align="right"><%=h energy.observed_level %> %</td>
       </tr>
      <%- } -%>
     </table>
    </td>
    <td valign="top">
     <table border="1">
      <tr>
       <th>日時</th>
       <th>デバイス</th>
       <th colspan="3">残量</th>
      </tr>
      <%- @events.each { |event| -%>
       <tr>
        <td><%=h event.observed_at.strftime("%m-%d %H:%M") %></td>
        <td>
         <%= device_icon24(event.device.device_icon, :name => event.device.name) %>
         <%= link_to(h(event.device.name), :controller => "devices", :action => "show", :device_token => event.device.device_token) %>
        </td>
        <td align="right"><%=h event.observed_level %> %</td>
        <td><%=h event.trigger_operator_sign %></td>
        <td align="right"><%=h event.trigger_level %> %</td>
       </tr>
      <%- } -%>
     </table>
    </td>
   </tr>
  </table>
 </div>
<%- end -%>

<%- if logged_in? -%>
 <ul>
  <li><%= link_to(h("デバイスを追加する"), :controller => "devices", :action => "new") %></li>
 </ul>
<%- end -%>
