
<h1>batty</h1>

<div>UserID: <%=h session[:user_id] %></div>

<%- unless logged_in? -%>
 <div id="login_form">
  <div id="open_id_login_form">
   <%- form_tag(:controller => "open_id_auth", :action => "login") { -%>
    <%= text_field_tag("openid_url") %>
    <%= submit_tag("ログイン") %>
   <%- } -%>
  </div>
  <div>
   <%= link_to(h("メールアドレスによるログイン"), :controller => "email_auth") %>
  </div>
  <div>
   <%= link_to(h("メールアドレスによるサインアップ"), :controller => "email_signup") %>
  </div>
 </div>
<%- end -%>

<%- if logged_in? -%>
 <div>
  <%= link_to(h("ログアウト"), {:controller => "auth", :action => "logout"}, :method => :post) %>
 </div>
<%- end -%>

<%- if logged_in? -%>
 <h2>Dashboard</h2>
 <div>
  <table border="1">
   <thead>
    <tr>
     <th>デバイス</th>
     <th>バッテリー残量</th>
     <th>トリガー</th>
     <th>アクション</th>
    </tr>
   </thead>
   <tbody>
    <%- @devices.each { |device| -%>
     <tr>
      <td><%= link_to(h(device.name), :controller => "devices", :action => "show", :device_token => device.device_token) %></td>
      <td align="right"><%=h device.current_energy.try(:observed_level) || "-" %> %</td>
      <td align="right"><%=h device.triggers.enable.count %></td>
      <td>アクション</td>
     </tr>
    <%- } -%>
   </tbody>
  </table>

  <table border="1">
   <tr>
    <td valign="top">
     <table border="1">
      <tr>
       <th>日時</th>
       <th>デバイス</th>
       <th>残量</th>
      </tr>
      <%- @energies.each { |energy| -%>
       <tr>
        <td><%=h energy.observed_at.strftime("%m-%d %H:%M") %></td>
        <td><%= link_to(h(energy.device.name), :controller => "devices", :action => "show", :device_token => energy.device.device_token) %></td>
        <td align="right"><%=h energy.observed_level %> %</td>
       </tr>
      <%- } -%>
     </table>
    </td>
    <td valign="top">
     <table border="1">
      <tr>
       <th>日時</th>
       <th>デバイス</th>
       <th colspan="3">残量</th>
      </tr>
      <%- @events.each { |event| -%>
       <tr>
        <td><%=h event.observed_at.strftime("%m-%d %H:%M") %></td>
        <td><%= link_to(h(event.device.name), :controller => "devices", :action => "show", :device_token => event.device.device_token) %></td>
        <td align="right"><%=h event.observed_level %> %</td>
        <td><%=h event.trigger_operator_sign %></td>
        <td align="right"><%=h event.trigger_level %> %</td>
       </tr>
      <%- } -%>
     </table>
    </td>
   </tr>
  </table>
 </div>
<%- end -%>
