
<%- if logged_in? -%>
  <%- additional_head { -%>
    <meta http-equiv="refresh" content="<%=h 5.minutes %>" />
  <%- } -%>
<%- end -%>

<%-
  if logged_in?
    @additional_head_html += rss_auto_discovery(:title => "バッテリ履歴", :href => url_for(:controller => "user_feeds", :action => "energies", :user_token => @login_user.user_token))
    @additional_head_html += rss_auto_discovery(:title => "イベント履歴", :href => url_for(:controller => "user_feeds", :action => "events", :user_token => @login_user.user_token))
  end
-%>

<%- unless logged_in? -%>
  <%- side_column { -%>
    <div>TODO: OpenIDログインフォームを追加</div>
    <div>TODO: メールログインフォームを追加</div>
  <%- } -%>
<%- end -%>

<%- unless logged_in? -%>
  <div id="login_form">
    <div id="open_id_login_form">
      <%- form_tag(:controller => "auth/open_id", :action => "login") { -%>
        <div>
          <%= label_tag(:openid_url, "OpenID URL") %>
          <%= text_field_tag(:openid_url, '', :size => 50) %>
          <%= submit_tag("ログイン") %>
        </div>
      <%- } -%>
    </div>
    <div><%= link_to(h("メールアドレスによるログイン"), :controller => "auth/email") %></div>
    <div><%= link_to(h("メールアドレスによるサインアップ"), :controller => "signup/email") %></div>
  </div>
<%- end -%>

<%- if logged_in? -%>
  <h1>ダッシュボード</h1>
  <%= render(:partial => "devices")  %>

  <div>
    <div style="float: left;">
      <h2>エネルギー履歴</h2>
      <%= render(:partial => "energies") %>
    </div>
    <div style="float: left;">
      <h2>イベント履歴</h2>
      <%= render(:partial => "events") %>
      <div>
        [ <%= link_to(feed_icon + h(" RSS"), :controller => "user_feeds", :action => "events", :user_token => @login_user.user_token) %>
        | <%= link_to(h("すべて"), :controller => "events") %> (<%=h @events.total_entries %>) ]
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
<%- end -%>
