
<%- @stylesheets = %w[home] -%>

<%- if logged_in? -%>
  <%- additional_head { -%>
    <meta http-equiv="refresh" content="<%=h 5.minutes %>" />
    <%= rss_auto_discovery(:title => "バッテリ履歴", :href => url_for(:controller => "user_feeds", :action => "energies", :user_token => @login_user.user_token)) %>
    <%= rss_auto_discovery(:title => "イベント履歴", :href => url_for(:controller => "user_feeds", :action => "events", :user_token => @login_user.user_token)) %>
  <%- } -%>
<%- end -%>

<%- unless logged_in? -%>
  <%- side_column { -%>
    <div>
      <div>OpenIDでログイン</div>
      <%- form_tag(:controller => "auth/open_id", :action => "login") { -%>
        <div><%= text_field_tag(:openid_url, "", :style => "width: 99%;") %></div>
        <div align="right"><%= submit_tag("OpenIDでログイン") %></div>
      <%- } -%>
      <div>
        <span><%= link_to(icon16("favicons/mixi.png", "mixi.jpのアカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "mixi.jp"}, :method => :post) %></span>
        <span><%= link_to(icon16("favicons/yahoo.png", "yahoo.jpのアカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "yahoo.co.jp"}, :method => :post) %></span>
        <span><%= link_to(icon16("favicons/livedoor.png", "livedoor.comのアカウントでログイン"), {:controller => "auth/open_id", :action => "login", :openid_url => "livedoor.com"}, :method => :post) %></span>
      </div>
    </div>

    <div>
      <%- form_tag(:controller => "auth/email", :action => "login") { -%>
        <div><%= text_field(:login_form, :email, :style => "width: 99%;") %></div>
        <div><%= password_field(:login_form, :password, :style => "width: 99%;") %></div>
        <div align="right"><%= submit_tag("メールアドレスでログイン") %></div>
      <%- } -%>
    </div>
  <%- } -%>
<%- end -%>

<%- unless logged_in? -%>
  <div id="login_form">
    <div><%= link_to(h("メールアドレスによるログイン"), :controller => "auth/email") %></div>
    <div><%= link_to(h("メールアドレスによるサインアップ"), :controller => "signup/email") %></div>
  </div>
<%- end -%>

<%- if logged_in? -%>
  <h1>ダッシュボード</h1>
  <div><%= render(:partial => "devices")  %></div>
  <div>
    <div style="float: left; margin-right: 10px;">
      <h2>エネルギー履歴</h2>
      <%= render(:partial => "energies") %>
    </div>
    <div style="float: left;">
      <h2>イベント履歴</h2>
      <%= render(:partial => "events") %>
    </div>
    <div style="clear: left;"></div>
  </div>
<%- end -%>
