
<%-
  @rss_auto_discoveries = [
    {:title => "イベント履歴", :href => url_for(:controller => "user_feeds", :action => "events", :user_token => @login_user.user_token)},
  ]
-%>

<div>
  <%= link_to(h("トップ"), root_path) %> &gt;
  <em>イベント履歴</em>
</div>

<div>
  <%- @events.each_slice(10) { |events| -%>
    <div style="float: left;">
      <table border="1">
        <tr>
          <th>日時</th>
          <th></th>
          <th>デバイス</th>
          <th colspan="3">残量</th>
        </tr>
        <%- events.each { |event| -%>
          <tr>
            <td><%=h event.observed_at.strftime("%m-%d %H:%M") %></td>
            <td><%= device_icon24_link(event.device) %></td>
            <td><%= device_name_link(event.device) %></td>
            <td align="right"><%=h event.observed_level %> %</td>
            <td><%=h event.trigger_operator_sign %></td>
            <td align="right"><%=h event.trigger_level %> %</td>
          </tr>
        <%- } -%>
      </table>
    </div>
  <%- } -%>
  <div style="clear: left;"></div>
</div>

<div><%= will_paginate(@events) %></div>
